<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <style>
            li {cursor: pointer;}
            li:hover {background-color: yellow;}
        </style>
    </head>
<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        <section class="container">
            <h2>Smart Factory기반 응용SW 엔지니어</h2>
            <ul class="list-group">
                <li class="list-group-item" data-ng-repeat="row in list" data-ng-click="clickEvent(row)">{{$index + 1}}) {{row.txt}}</li>
            </ul>
        </section>
    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope) {
            $scope.list = [
                {"txt": "스마트팩토리 프로그래밍", "url": "https://github.com/KimNamKyu/C-/blob/master/%EC%8A%A4%EB%A7%88%ED%8A%B8%ED%8C%A9%ED%86%A0%EB%A6%AC%20%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D.pdf"},
                {"txt": "프로그래밍 언어 활용", "url": "https://github.com/KimNamKyu/C-/blob/master/%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D%20%EC%96%B8%EC%96%B4%20%ED%99%9C%EC%9A%A9.pdf"},
                {"txt": "응용 SW 기초 기술 활용", "url": "https://github.com/KimNamKyu/C-/blob/master/%EC%9D%91%EC%9A%A9%20SW%20%EA%B8%B0%EC%B4%88%20%EA%B8%B0%EC%88%A0%20%ED%99%9C%EC%9A%A9.pdf"},
                {"txt": "요구사항확인", "url": "https://github.com/KimNamKyu/C-/blob/master/%EC%9A%94%EA%B5%AC%EC%82%AC%ED%95%AD%ED%99%95%EC%9D%B8.pdf"},
                {"txt": "화면설계", "url": "https://github.com/KimNamKyu/C-/blob/master/%ED%99%94%EB%A9%B4%EC%84%A4%EA%B3%84.pdf"},
                {"txt": "화면구현", "url": "https://github.com/KimNamKyu/C-/tree/master/%ED%99%94%EB%A9%B4%20%EA%B5%AC%ED%98%84/KYH/KYH"},
                {"txt": "인터페이스 구현", "url": "https://github.com/KimNamKyu/C-/tree/master/%EC%9D%B8%ED%84%B0%ED%8E%98%EC%9D%B4%EC%8A%A4%20%EA%B5%AC%ED%98%84/20181126"},
                {"txt": "서버프로그램 구현", "url": ""},
                {"txt": "데이터 입출력 구현", "url": ""},
                {"txt": "통합 구현", "url": ""},
                {"txt": "제품소프트웨어 패키징", "url": ""},
                {"txt": "정보시스템 이행", "url": ""},
                {"txt": "애플리케이션 테스트 수행", "url": ""},
                {"txt": "애플리케이션 테스트 관리", "url": ""},
                {"txt": "애플리케이션 배포", "url": ""},
                {"txt": "프로젝트", "url": ""}
            ];
            $scope.clickEvent = function(data){
                //console.log(data);
                window.open(data.url, data.txt);  
            }
        });
    </script>
</body>
</html>